<a href="https://colab.research.google.com/github/Bhumika045GITHUB/PANDAS_CODING/blob/main/Pandas_coding_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# List1
lst = [['Geek', 25], ['is', 30],
       ['for', 26], ['Geeksforgeeks', 22]]

columns =['Tag', 'number']

data = {'Category':['Array', 'Stack', 'Queue'],

        'Marks':[20, 21, 19]}

# creating df object with columns specified
df = pd.DataFrame(lst, columns =['Tag', 'number'])
df['Tag'] = pd.to_numeric(df['Tag'], errors='coerce')

df1 = pd.DataFrame.from_records(lst,columns=columns)
df2 = pd.DataFrame.from_dict(zip(columns, zip(*lst)))
df3 = pd.DataFrame(data, index =['Cat_1', 'Cat_2', 'Cat_3'])
df4 = pd.DataFrame(data)
df5 = df4.pivot(index='Marks', columns='Category', values='Marks')
print(df5)
print(df)
print(df3.transpose())

Category  Array  Queue  Stack
Marks
19          NaN   19.0    NaN
20         20.0    NaN    NaN
21          NaN    NaN   21.0
   Tag  number
0  NaN      25
1  NaN      30
2  NaN      26
3  NaN      22
          Cat_1  Cat_2  Cat_3
Category  Array  Stack  Queue
Marks        20     21     19

In [ ]:
# importing pandas

import pandas as pd

# List of list of dictionary initialization

list = [

    {

        "Student": [{"Exam": 90, "Grade": "a"},

                    {"Exam": 99, "Grade": "b"},

                    {"Exam": 97, "Grade": "c"},

                    ],

        "Name": "Paras Jain"

    },

    {

        "Student": [{"Exam": 89, "Grade": "a"},

                    {"Exam": 80, "Grade": "b"}

                    ],

        "Name": "Chunky Pandey"

    }
]

# rows list initialization

rows = []

# appending rows

for data in list:

    data_row = data['Student']

    time = data['Name']


    for row in data_row:

        row['Name'] = time

        rows.append(row)

# using data frame

df = pd.DataFrame(rows)

# using pivot_table

df = df.pivot_table(index='Name', columns=['Grade'],

                    values=['Exam']).reset_index()

# Defining columns

df.columns = ['Name', 'Maths', 'Physics', 'Chemistry']

# print dataframe

print(df)

            Name  Maths  Physics  Chemistry
0  Chunky Pandey   89.0     80.0        NaN
1     Paras Jain   90.0     99.0       97.0

In [ ]:
#combination of df, series

import pandas as pd
name = pd.Series (['x' , 'y'])
age = pd.Series(['33', '5'])
frame = {'name':name, 'age':age}
result = pd.DataFrame(frame)
speed = [23,55,88]
result['speed'] = pd.Series(speed)
print(result)

  name age  speed
0    x  33     23
1    y   5     55

In [ ]:
import pandas as pd

# import the StrinIO function
# from io module

from io import StringIO

# wrap the string data in StringIO function

StringData = StringIO("""Date;Event;Cost

    10/2/2011;Music;10000

    11/2/2011;Poetry;12000

    12/2/2011;Theatre;5000

    13/2/2011;Comedy;8000

    """)

# let's read the data using the Pandas
# read_csv() function

df = pd.read_csv(StringData, sep =";")

# Print the dataframe

print(df)

            Date    Event   Cost
0      10/2/2011    Music  10000
1      11/2/2011   Poetry  12000
2      12/2/2011  Theatre   5000
3      13/2/2011   Comedy   8000

In [ ]:
https://www.geeksforgeeks.org/mapping-external-values-to-dataframe-values-in-pandas/amp/

In [ ]:
# shape and reshape in Pandas

#shape. (The shape attribute of a Pandas dataframe or series provides the dimensions of the data structure.
# It returns a tuple representing the number of rows and columns.) and reshape (The reshape functionality in Pandas is often achieved through methods like pivot, melt, stack, unstack, pivot_table, and transpose.
#These methods are used to change the structure of the dataframe.)

In [ ]:
import pandas as pd

# Create a dataframe
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)

# Get the shape of the dataframe
print(df.shape)  # Output: (3, 2)